# macOS system files
.DS_Store

# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.xcuserstate
*.hmap
*.ipa
*.xcworkspace
*.xcuserstate
DerivedData/
*.xcode.env.local
*.xcuserstate
*.xcscheme

# Android / IntelliJ
android/app/build/
.gradle/
.idea/
*.iml
*.hprof
local.properties
.cxx/
*.keystore
!debug.keystore

# React Native / Node.js
node_modules/
npm-debug.log*
yarn-error.log*
*.log
*.tmp
tmp/
temp/

# Metro
.metro-health-check*

# Firebase / sensitive data
.env
*.env.local
my-release-key.keystore

# Project backups / extras
package_backup.json
package_backup2.json
*.xlsx
*.bak

# Output bundles
*.jsbundle
*.bundle
*.map

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Ruby / CocoaPods
Pods/
vendor/bundle/

# Coverage reports
coverage/

# Yarn v2+
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# VSCode and JetBrains IDEs
.vscode/
.idea/

# Misc
*.swp
*.lock

appAsyncStorage.json
firebaseConfig.ts
